<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lukáš Fessl{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
{#         <link href="{{ asset('js/custom.css') }}" rel="javascript" />#}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    	<div class="page">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
