{% extends "base.html.twig" %}

{% block content %}
<div class="background gradient">
	<div class="container">

			<div class="header">
				<div class="top-menu">
					<ul>
						<li class="active">
							<a href="#about-card">
								<span class="icon ion-person"></span>
								<span class="link">About</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="card-left" id="home-card">
				<div class="profile">
				</div>
			</div>


			<div class="card-right" id="about-card">

				<div class="content about">
					<!-- title -->
					<div class="title">About Me</div>
						XXX

					</div>

				</div>

			</div>

		</div>
</div>
{% endblock %}